@media screen and (min-width: 320px) and (max-width: 1023px) {
  .header {
    justify-content: space-between;
    min-width: 320px;
    height: 56px;
    padding: 0px 13px;
  }

  .catalog {
    display: none;
  }

  .catalog-mobile {
    display: block;
    margin-right: 19px;
  }

  .logo {
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    font-variant: all-small-caps;
    letter-spacing: 0.52px;
    padding-bottom: 7px;
    width: 200px;
    height: 24px;
  }

  .search {
    width: 28px;
    height: 28px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
  }

  .search input {
    display: none;
  }

  /* .search-icon {
    display: block;
  } */

  .menu {
    display: none;
  }

  .container {
    flex-direction: column;
    min-width: 320px;
    padding: 0px;
  }

  .container-left {
    padding: 0px;
    width: 100%;
  }

  .basket {
    /* padding: 15px 16px; */
  }

  .basket h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    letter-spacing: -0.2px;
    margin-bottom: 16px;
    padding: 15px 16px 0px 16px;
  }

  .all-checkbox {
    padding: 0px 16px;
  }

  .all-checkbox img {
    padding: 0px 4px;
  }

  .in-stock {
    margin-bottom: 48px;
    padding: 0px 16px;
  }

  .item {
    flex-direction: column;
    margin-bottom: 16px;
  }

  .item-left {
    padding: 12px 0px;
    width: 100%;
  }

  .item-left input {
    position: absolute;
    top: 4px;
    left: 4px;
  }

  .item-size-mobile {
    display: block;
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 6px;
    padding: 0px 4px 3px 4px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }

  .item-checkbox-photo {
    position: relative;
    max-height: 106px;
  }

  .item-checkbox-photo img {
    width: 80px;
    height: 106px;
  }

  .item-info {
    max-width: 192px;
  }

  .item-price-mobile {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
  }

  .item-price-discount-mobile {
    text-align: right;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    margin-bottom: 0px;
  }

  .item-price-discount-mobile span {
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    margin-right: 5px;
  }

  .item-price-original-mobile {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
  }

  .item-name {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .item-info p {
    margin-bottom: 0px;
  }

  .item-size {
    display: none;
  }

  .item-platform {
    display: none;
  }

  .item-right {
    width: 100%;
    padding: 0px;
  }

  .item-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 32px;
    padding: 0px 12px 0px 0px;
  }

  .item-counter {
    width: 80px;
    height: 32px;
    margin-right: 16px;
    margin-bottom: 0px;
  }

  .item-counter p {
    width: 32px;
    padding: 4px 0px 8px 0px;
  }

  .item-remains {
    width: 100px;
    margin-right: 16px;
    margin-bottom: 0px;
  }

  .item-icons {
    width: 64px;
    /* padding-right: 12px; */
    margin-left: auto;
  }

  .item-price {
    display: none;
  }

  .out-of-stock-header {
    padding: 0px 16px;
  }

  .out-of-stock-header h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
  }

  .out-of-stock-header img {
    padding: 0px 2px;
  }

  .item-status-out {
    margin-top: 2px;
    padding: 0px 4px 0px 0px;
    height: 24px;
    align-items: self-start;
  }

  .out-of-stock {
    margin-bottom: 26px;
    padding: 0px 16px;
  }

  .shipping {
    padding: 16px;
    margin-bottom: 12px;
    height: 512px;
  }

  .shipping-header {
    height: 28px;
    margin-bottom: 8px;
  }

  .shipping-header h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    letter-spacing: -0.2px;
  }

  .shipping-header button {
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    padding-top: 3px;
  }

  .shipping-container {
    display: block;
  }

  .shipping-rating {
    margin-bottom: 16px;
  }

  .shipping-price {
    margin-bottom: 16px;
  }

  .shipping-products {
    height: 56px;
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .shipping-return {
    position: relative;
    padding: 0px 8px;
  }

  .payment {
    padding: 16px 16px 24px 16px;
    margin-bottom: 12px;
    height: 124px;
  }

  .receiver {
    padding: 16px 16px 24px 16px;
    padding-bottom: 16px;
    height: 420px;
  }

  #orderForm {
    width: 100%;
  }

  .receiver-inputs {
    flex-direction: column;
    gap: 16px;
  }
  .receiver-input {
    padding: 13px 0px 16px 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 56px;
  }

  .receiver-input input {
    position: absolute;
    top: 15px;
    width: 100%;
    outline: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .input-line {
    bottom: 16px;
  }

  .total {
    padding: 8px 16px 0px 16px;
    margin-bottom: 40px;
    background-color: transparent;
  }

  .total-price {
    margin-bottom: 16px;
  }

  .total-row h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    letter-spacing: -0.2px;
  }

  .total-header {
    display: none;
  }

  .total-shipping-address {
    display: none;
  }

  .total-shipping {
    margin-bottom: 16px;
  }

  .total-payment-card {
    display: none;
  }
}
